body {
    font-family: Arial, sans-serif;
    background-image: url('brain.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* Optionally, you can add background color as fallback */
    background-color: #f0f0f0; /* Fallback color */
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.7); /* Add transparency for better readability */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

button {
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}
